@font-face {
    font-family: 'Helvetica';
    src: url(fonts/Helvetica.ttf);
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url(fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url(fonts/helvetica-light-587ebe5a59211.ttf);
}

@font-face {
    font-family: 'Helvetica-Bold-Oblique';
    src: url(fonts/Helvetica-BoldOblique.ttf);
}

@font-face {
    font-family: 'Helvetica-Oblique';
    src: url(fonts/Helvetica-Oblique.ttf);
}

@font-face {
    font-family: 'Helvetica-Rounded-Bold';
    src: url(fonts/helvetica-rounded-bold-5871d05ead8de.otf);
}