:root {
    --icon-color: #F49158;
    --bg-gray: #F8F8F8;
    --site-green: #1CB9A9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 5%;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px #ddd;
}

.logo {
    cursor: pointer;
}

.logo img {
    max-height: 40px;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "helvetica-medium";
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a:hover {
    color: #000000;
    font-weight: 600;

}

.login__signup {
    list-style: none;
    display: flex;
}

.login__signup li {
    padding: 0px 20px;
}

.login__signup a {
    font-family: "helvetica-medium";
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.login__signup .signup__cta {
    padding: 9px 25px;
    background-color: #F49158;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    color: #fff;
}

.nav__cta {
    padding: 3px 2px;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.nav__cta .nav-bar {
    font-size: 25px;
}

.nav__cta:hover {
    background-color: #ffffff;
    font-weight: 600;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
    color: #fff;
}

.overlay a:hover,
.overlay a:focus {
    color: #F49158;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #ffffff;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 1200px) {
    .nav__links {
        display: none;
    }

    .login__box,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}

/* ----------------- main ----------------- */
main {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}

section {
    padding: 1em;
}

/* section-1 ================== */
#section-1 {
    background-color: var(--site-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#banner-text,
#banner-image {
    width: 50%;
}

#banner-text {
    padding: 4em;
}

#banner-image img {
    width: 100%;
}

/* section-2 ================== */
#section-2 {
    background-color: var(--bg-gray);
    position: relative;
    background: url(images/curve.svg) no-repeat center top;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-2 img {
    width: 50%;
    margin-top: 3em;
}

/* section-3 ================== */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 1em;
    padding: 1em;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.card .icon-boundary {
    fill: var(--icon-color);
}

.card .card-image {
    width: 100px;
    height: 100px;
    background-color: var(--bg-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.card .card-image svg {
    width: 50%;
    height: 50%;
}

.card .card-text {
    margin: 1em 2em;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background-color: var(--icon-color);
    cursor: pointer;
}

.card:hover .card-image {
    background-color: var(--icon-color);
}

.card:hover .card-text {
    color: #fff;
}

.card:hover .icon-boundary {
    fill: #fff;
}

/* section-4 ================== */


/* section-5 ================== */